#home{
	margin: 0px;
	padding: 0px;
	width: 100vw;
	height: 100vh;
	background-image: url("../imagens/plano_fundo_login.jpg");
	background-size: cover;
}
.resumo{
	position: relative;
	width: 40vw;
	height: 490px;
	border: 1px solid white;
	border-radius: 15px;
	background:white;
	float: left;
	top: 10vh;
	left: 7vw;
}
.agenda{
	position: relative;
	width: 40vw;
	height: 490px;
	border: 1px solid white;
	background:rgba(211,211,211,0.2);
	float: right;
	border-radius: 15px;
	top: 10vh;
	right: 7vw;
	color: white;
}
.agenda_interna{
	width: 300px;
	height: 260px;
	position: relative;
	top: 5%;
	left: 2%;
	font-size: 21px;
	font-weight: bold;
	background-image: url("../imagens/calendario.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	border:1px solid white;
	border-radius: 15px;
}
.agenda_interna td{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	width: 300px;
}

.titulo_lembrete{
	top: 3%;
	height: 0%;
	text-align: center;
	position: relative;
}
.lembrete_home{
	float: right;
	top: -235px;
	width: 16vw;
	height: 260px;
	background:rgba(211,211,211,0.6);
	position: relative;
	border-radius: 15px;
	left: -2%;
	border:1px solid white;
}
.lembrete{
	width: 96%;
	height: 150px;
	background:rgba(211,211,211,0.6);
	top: 13%;
	position: relative;
	border-radius: 15px;
	left: 2%;
	border:1px solid white;
}
.mensagen_lembrete{
	position:relative;
	top:15%;
	width: 90%;
	height: 80%;
	left:5%;
	text-align: justify;
}
.mensagen_lembrete_empresa{
	position:absolute;
	top:15%;
	width: 90%;
	height: 80%;
	left:5%;
	text-align: justify;
	font-size: 1.3rem;
}
.mensagen_lembrete_empresa h6{
	font-size: 1.2rem;
}