#home{
	margin: 0px;
	padding: 0px;
	width: 100vw;
	height: 100vh;
	background-image: url("../imagens/plano_fundo_login.jpg");
	background-size: cover;
}
.acompanhamento{
	width: 90vw;
	height: 86vh;
	border: 3px solid white;
	border-radius: 20px;
	position: relative;
	top : 5vh;
	left: 5vw;
	background:rgba(211,211,211,0.6);
}
.numero_usuarios{
	width: 600px;
	height: 450px;
	background: white;
	border-radius: 10px;
	position:relative;
	left:3vw;
	top:3vw;
}
.area_login{
	position: relative;
	width: 600px;
	height: 450px;
	left: 46vw;
	top : -55vh;
}